@CHARSET "UTF-8";
body{
	background:#c0c0c0;	
		text-align:center;
}
.login-box{
	width:400px;
	height:300px;
	background:#fff;
	border:8px solid #928e89;
	position:absolute;top:50%;left:50%;margin:-250px 0 0 -182px;
}
.table-box{
	margin:0 auto;
	width:400px;
	padding:50px 0 0 0;
	line-height:45px;
}
.login-label{
	float:right;
}
.login-input{
	height:28px;
	width:220px;
}
.cod-input{
	height:28px;
	width:80px;
}
.button-div{
	margin-top:40px;
}
.login-button{
	width:150px;
	line-height:35px;
	border-radius:5px;
	border: 1px solid #fff;
	background:#00ffff;
}