<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.tmpl.min.js"></script>
<link rel="stylesheet" type="text/css" href="__CSS__/handle.css" />
<include file="Common:header"/>
<title>Insert title here</title>
</head>
<body>
<div class="page-header">
     <h2>账户管理<small>->账户列表</small></h2>  
</div>
<div class="row">
        <div class="col-xs-12">
             <form id="tb" class="easyui-form" data-options="novalidate:true" style="margin-bottom: 10px;">
               <!--  <table>
                    <tr>
                        <td>账户名称:</td> 
                        <td><input type="text" class="easyui-textbox" id="name" name="name" /></td>                     
                        <td>手机号码:</td> 
                        <td><input type="text" class="easyui-textbox" id="tel" name="tel" /></td>                     
                        <td>&emsp;
                            <a onclick="searchGrid()" href="javascript:void(0)"
                               class="easyui-linkbutton">查询</a>
                        </td>
                    </tr>
                </table> -->
            </form>
            <table id="grid" style="width:100%;height:600px">
            </table>
        </div>
</div>
<div id="window" class="easyui-window" style="padding: 10px"
         data-options="modal:true,minimizable:false,maximizable:false,collapsible:false,closed:true">
        <form id="ff" class="easyui-form" method="post" data-options="novalidate:true" enctype="multipart/form-data">
            <table cellpadding="5">   
                <tr>
                    <td>发布内容</td>
                     <td colspan="3" style="padding: 5px 0;">
                        <textarea name="content" class="desc" data-options="required:true" placeholder="请输入内容" cols='21' rows='8'></textarea>
                    </td>
                </tr>               
            </table>
        </form>
        <div style="text-align:center;padding:5px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
        </div>
</div>
<div id="priv" class="easyui-window" style="padding: 10px;width:350px;"
         data-options="modal:true,minimizable:false,maximizable:false,collapsible:false,closed:true" >        
        <div class="priv-box"></div> 
        <input type="hidden" name="agentid" />
        <div style="text-align:center;padding:10px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitPriv()">提交</a>
            <!-- <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a> -->
        </div>        
</div>
<script type="text/javascript"> 
$('#grid').datagrid({
    title: '帐号管理',
    method: 'get',
    //rownumbers: true,
    pagination: true,
    pageSize: 20,
    //fit:true,
    width: '99%',
    height: 'auto',
    fitColumns: true,
    iconCls:'icon-edit',
    singleSelect:false,//是否单选
    frozenColumns:[[ 
         {field:'ck',checkbox:true} 
    ]],
    url:"{:U('Admin/noticeAjax')}",
    onBeforeLoad: function (param) {
     /* param.start = ((param.page - 1) * param.page_size) < 0 ? 0 : ((param.page - 1) * param.page_size);
     param.limit = param.page_size; */
    },
    toolbar: [{ 
        text: '发布', 
        iconCls: 'icon-add', 
        handler: function() { 
            add();
        } 
    }],
    columns: [
        [
            {title: 'ID', field: 'id', width: 50, align: 'center'},  
            {title: '操作用户', field: 'name', width: 100, align: 'center'},
            {title: '操作时间', field: 'addtime', width: 100, align: 'center'},
            {title: '发布内容', field: 'content', width: 200, align: 'center'},           
            {
                title: '操作', field: 'opt', width: 80, align: 'center', formatter: function (value, row, index) {
                var btn = '<a class="easyui-linkbutton" onclick="del(\'' + row.id + '\')"  href="javascript:void(0)">刪除</a>';
                return btn;
            }
            }
        ]
    ],
});
// function searchGrid() {
//     var name = $('#name').textbox('getValue');
//     var tel = $('#tel').textbox('getValue');
//     $('#grid').datagrid('reload', {
//         name: name,
//         tel: tel,
//     });
// }
var selectRow;
var ctrlUrl = "{:U('admin/noticeedit')}";
function add() {
    $('#window').window({
        title: "发布评论"
    });
    selectRow = null;
    $('#window').window('open');
    $('#ff').form('clear');
}
function edit(index) {
    $('#grid').datagrid('selectRow', index);
    $('#window').window({
        title: "編輯账户"
    });
    selectRow = $('#grid').datagrid('getSelected'); //此处竟然传引用。   
    //$('#img').attr('src', selectRow.img);
    $('#ff').form('load', selectRow);
    $('#password').textbox('setValue','');
    $('#window').window('open');
}
function del(id) {
    $.messager.confirm('刪除评论', '你確定要刪除該信息嗎?', function (r) {
        if (r) {
            $.post(ctrlUrl, {oper: 'del',id: id}, function (data) {
                if (data.status == 0) {
                    $.messager.alert('删除评论','删除失败！！','error');
                    $('#grid').datagrid('reload');
                    return;
                }
                //alert('操作成功');
                $('#grid').datagrid('reload');
            }, 'json')
        }
    });
}
function submitForm() {
    $('#ff').form('submit', {
        url: ctrlUrl,
        onSubmit: function (param) {
            if (selectRow != null) {
                param.id = selectRow.id;
                param.oper = 'edit';
            } else {
                param.oper = 'add';
            }   
            return $(this).form('enableValidation').form('validate');
        },
        success: function (data) {
            if (data.status == 0) {
                $.messager.alert('修改数据','修改失败！！','error');
                return;
            }
            //$.messager.alert('修改数据','修改成功！！','info');
            $('#window').window('close');
            $('#grid').datagrid('reload');
            clearForm();
        }
    });
}
// function priv(id){
//     $('#priv').window({
//         title: "账户权限"
//     });
//     $('input[name="agentid"]').val(id);
//     $.post('{:U("admin/privlist")}',{agentid:id},function(res){     
//         $('.priv-box').html($('#privlist').tmpl(res));
//     });
//     $('#priv').window('open');
// }
function clearForm() {
    $('#ff').form('clear');
}
// function submitPriv(){
//     var agentid = $('input[name="agentid"]').val();
//     var privids = '2,4,8,10'
//     $.post('{:U("admin/priv")}',{agentid:agentid,privids:privids},function(res){
//         if(res.status!=0){
//             $('#priv').window('close');
//             $('#grid').datagrid('reload');
//         }else{
//             $.messager.alert('分配权限','分配失败！！','error');
//             return;
//         }
//     });
// }
</script>
   

</body>
</html>