<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer id="footer">
	<div class="top">
		<div class="block left">
			<h2>速度闪躲撒旦发生的</h2>
			<hr></hr>
			<ul>
				<li>是否是多受到损失</li>
				<li>是否史蒂芬森颠三倒四</li>
				<li>是否双方商定</li>
				<li>是否是多数是当时的</li>
				<li>是否是多数是当时的</li>
			</ul>
		</div>
		<div class="block center">
			<h2>速度闪躲撒旦发生的</h2>
			<hr></hr>
			<ul>
				<li>是否是多受到损失</li>
				<li>是否史蒂芬森颠三倒四</li>
				<li>是否双方商定</li>
				<li>是否是多数是当时的</li>
				<li>是否是多数是当时的</li>
			</ul>
		</div>
		<div class="block right">
			<h2>速度闪躲撒旦发生的</h2>
			<hr></hr>
			<ul>
				<li>是否是多受到损失</li>
				<li>是否史蒂芬森颠三倒四</li>
				<li>是否双方商定</li>
				<li>是否是多数是当时的</li>
				<li>是否是多数是当时的</li>
			</ul>
		</div>
	</div>	
	<div class="bottom">
		使法术丹方撒旦发生的撒旦发生的速度闪躲，收费电视爽肤水搜索速度舒适的速度闪躲实打实
	</div>
</footer>
</body>
</html>