 <div class="shoujimoxing">
	<div class="waiwei">
		<div class="shoujimoxing-main">
			<div class="main-head">
				<a href="javascript:;"><img src="__IMG__/thumb.png" alt=""></a>
			</div>
			<div class="main-head main-head1">
				<div class="main-head-top">
					<a href="javascript:;"><img src="__IMG__/shoujimoxing/header.jpg" alt="" /></a>
				</div>
				<div class="main-head-item">
					<ul>
						<li><a href="__MODULE__/Brandstory/index"><img src="__IMG__/shoujimoxing/gushi.png" alt=""></a></li>
						<li><a href="__MODULE__/Service/index"><img src="__IMG__/shoujimoxing/fewu.png" alt=""></a></li>
						<li><a href="__MODULE__/News/index"><img src="__IMG__/shoujimoxing/xiaoxi.png" alt=""></a></li>
						<li><a href="__MODULE__/Interaction/servicetel"><img src="__IMG__/shoujimoxing/zaixian.png" alt=""></a></li>
						<li><a href="javascript:;"><img src="__IMG__/shoujimoxing/duihuan.png" alt=""></a></li>
						<li style="width:49.2%;"><a href="__MODULE__/Product/index"><img style="width:100%" src="__IMG__/shoujimoxing/shihui.png" alt=""></a></li>
						<li><a href="__MODULE__/Recruitment/index"><img src="__IMG__/shoujimoxing/jiaru.png" alt=""></a></li>
						<li><a href="__MODULE__/Group/index"><img src="__IMG__/shoujimoxing/huasuan.png" alt=""></a></li>	
						<li><a href="__MODULE__/Fresh/index"><img src="__IMG__/shoujimoxing/tiyan.png" alt=""></a></li>
						<li><a href="__MODULE__/Freegrab/index"><img src="__IMG__/shoujimoxing/qiang.png" alt=""></a></li>
						<li><a href="__MODULE__/Grabwin/givelist"><img src="__IMG__/shoujimoxing/yaoyao.png" alt=""></a></li>		
					</ul>
				</div>
				<div class="lunbo">
					<a href="__MODULE__/Interaction/index"><img src="__IMG__/shoujimoxing/lunbo.jpg" alt=""></a>
					
				</div>
			</div>
			<div class="main-head main-head1">
				<a href="javascript:;"><img src="__IMG__/myde.jpg" alt=""></a>
				<div class="po-help">
					<a href="__MODULE__/Help/index" class="a1"></a><br /><br />
					<a href="__MODULE__/Disclaimer/index" class="a2"></a>
				</div>
			</div>			
		</div>
		<div class="shoujimoxingfoot">
			<ul>
				<li class="cur">拨号</li>
				<li>互动</li>
				<li>我的</li>
			</ul>
		</div>
	<div class="shousuoanniu">收缩</div>
	<div class="shousuoanniu1">展开</div>		
	</div>	
</div>
<script src="__JS__/ajaxfileupload.js" type="text/javascript" ></script>
<script>
$(document).ready(function(){
    $(".shoujimoxingfoot ul li").click(function(){
    $(".shoujimoxingfoot ul li").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
	$(".main-head").hide().eq($(this).index()).show();
   //另一种方法: $("div").eq($(".tab li").index(this)).addClass("on").siblings().removeClass('on'); 

    });

$('.shousuoanniu').click(function(){
	$('.shoujimoxing').animate({'right': '-294px'}, 1000);
	setTimeout(function(){
		$('.shousuoanniu1').css('display','block');	
	}, 800)
})	

$('.shousuoanniu1').click(function(){
	$('.shoujimoxing').animate({'right': '0'}, 1000);
	setTimeout(function(){
		$('.shousuoanniu1').css('display','none');	
	}, 200)
})    
});	
</script>