<script type="text/javascript" src="__JS__/jquery-easyui-1.5/jquery.easyui.min.js"></script>
<!-- <script type="text/javascript" src="__JS__/easyui/locale/easyui-lang-zh_CN.js"></script> -->
<!-- <script type="text/javascript" src="__JS__/formvalidator/formValidator.js"></script>
<script type="text/javascript" src="__JS__/formvalidator/formValidatorRegex.js"></script> -->
<link rel="stylesheet" type="text/css" href="__JS__/jquery-easyui-1.5/themes/default/easyui.css" title="gray" />
<link rel="stylesheet" type="text/css" href="__JS__/jquery-easyui-1.5/themes/icon.css"/>
<link rel="stylesheet" type="text/css" href="__CSS__/icons.css"/>
