<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="__CSS__/login.css"/>
</head>
<body>
<div class="login-box">
	<div class="table-box">
			<table width='70%' align='center'>
				<tr>
<!-- 					<td><label class="login-label">账号：</label></td> -->
					<td colspan='2'><input type="text" name="name" class="login-input"/></td>
				</tr>
				<tr>
					<!-- <td><label class="login-label">密码：</label></td> -->
					<td colspan='2'><input type="password" name="password" class="login-input"/></td>
				</tr>
				<tr>
					<td style="margin:0;padding:0;"><input type="text" name="chknum" class="cod-input"/></td>
					<td style="margin:0;padding:0;"><img title="点击刷新" class="short ss" src="{:U('Tool/validateCode')}" width="100" id="safecode" onClick="this.src='{:U('Tool/validateCode')}'+'?t='+Date()"/></td>
				</tr>
				<tr>
					<td colspan='2'><div class="button-div"><button class="login-button">登录</button></div></td>
				</tr>
			</table>
	</div>		
</div>	
</body>
</html>