<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
<include file="Common:header"/>
<title>Insert title here</title>
</head>
<body>
<div class="page-header">
     <h2>评论管理<small>->评论列表</small></h2>  
</div>
<div class="row">
        <div class="col-xs-12">
        	 <form id="tb" class="easyui-form" data-options="novalidate:true" style="margin-bottom: 10px;">
                <table>
                    <tr>
                    	<td>状态:</td>
                    	<td>
                            <select id="status" class="easyui-combobox"
                                    data-options="panelHeight:'auto',value:-1">
                                <option value="-1">请选择</option>    
                                <option value="0">正常</option>
                                <option value="1">异常</option>
                            </select>
                        </td>                                                                                        
                        <td>&emsp;
                            <a onclick="searchGrid()" href="javascript:void(0)"
                               class="easyui-linkbutton">查询</a>
                        </td>
                    </tr>
                </table>
            </form>
            <table id="grid" style="width:100%;height:600px">
            </table>
        </div>
</div>
<div id="window" class="easyui-window" style="padding: 10px"
         data-options="modal:true,minimizable:false,maximizable:false,collapsible:false,closed:true">
        <form id="ff" class="easyui-form" method="post" data-options="novalidate:true" enctype="multipart/form-data">
            <table cellpadding="5">               
                <tr>
                    <td>评论名称:</td>
                    <td colspan="3" style="padding: 5px 0;">
                        <input class="easyui-textbox" name="name"
                               data-options="required:true"/>
                    </td>
                </tr> 
                <tr>
                    <td>描述:</td>
                    <td colspan="3" style="padding: 5px 0;">
                        <textarea name="desc" class="desc" data-options="required:true" placeholder="请输入内容" cols='21' rows='8'></textarea>
                    </td>
                </tr>                                            
            </table>
        </form>
        <div style="text-align:center;padding:5px">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
        </div>
    </div>
<script type="text/javascript">	
$('#grid').datagrid({
    title: '评论管理',
    method: 'get',
    //rownumbers: true,
    pagination: true,
    pageSize: 20,
    //fit:true,
    width: '99%',
    height: 'auto',
    fitColumns: true,
    iconCls:'icon-edit',
    singleSelect:false,//是否单选
    frozenColumns:[[ 
         {field:'ck',checkbox:true} 
    ]],
    url:"{:U('comment/commentAjax')}",
    onBeforeLoad: function (param) {
     /* param.start =评论 ((param.page - 1) * param.page_size) < 0 ? 0 : ((param.page - 1) * param.page_size);
     param.limit = param.page_size; */
    },
    /*toolbar: [{ 
        text: '添加', 
        iconCls: 'icon-add', 
        handler: function() { 
        	add();
        } 
    }, '-', { 
        text: '修改', 
        iconCls: 'icon-edit', 
        handler: function() { 
            openDialog("add_dialog","edit"); 
        } 
    }, '-',{ 
        text: '删除', 
        iconCls: 'icon-remove', 
        handler: function(){ 
            delAppInfo(); 
        } 
    } ],*/
    columns: [
        [
            {title: '评论ID', field: 'id', width: 50, align: 'center'}, 
            {title: '动态标题', field: 'title', width: 100, align: 'center'},
            {title: '用户昵称', field: 'nickname', width: 100, align: 'center'},
            {title: '回复时间', field: 'replytime', width: 80, align: 'center'},
            {title: '评论时间', field: 'addtime', width: 80, align: 'center'},
            {title: '评论内容', field: 'comment', width: 150, align: 'center'},
            {
                title: '状态', field: 'status', width: 100, align: 'center', formatter: function (value, row, index) {
                if (value == 0) {
                    return "正常";
                }
                if (value == 1) {
                    return "异常";
                }
                }
            },
            {
                title: '操作', field: 'opt', width: 150, align: 'center', formatter: function (value, row, index) {
                if(row.status == 0){
                	var btn = '<a class="easyui-linkbutton" onclick="check(\'' + row.id + '\',1)"  href="javascript:void(0)">标记异常</a> | '; 
                }else{
                	var btn = '<a class="easyui-linkbutton" onclick="check(\'' + row.id + '\',0)"  href="javascript:void(0)">标记正常</a> | '; 
                }
                
                var btn2 = '<a class="easyui-linkbutton" onclick="del(\'' + row.id + '\')"  href="javascript:void(0)">刪除</a>';
                return btn+btn2;
            }
            }
        ]
    ],
});
function searchGrid() {
    var status = $('#status').textbox('getValue');
    $('#grid').datagrid('reload', {
    	status: status,
    });
}
var selectRow;
var ctrlUrl = "{:U('comment/edit')}";
function add() {
    $('#window').window({
        title: "添加评论"
    });
    selectRow = null;
    $('#window').window('open');
    $('#ff').form('clear');
}
function edit(index) {
    $('#grid').datagrid('selectRow', index);
    $('#window').window({
        title: "編輯评论"
    });
    selectRow = $('#grid').datagrid('getSelected'); //此处竟然传引用。
    //$('#img').attr('src', selectRow.img);
    $('#ff').form('load', selectRow);
    $('#window').window('open');
}
//审核评论：要求标记评论状态刷新列表
//接口:comment/edit  参数：{oper:edit,id:id,status:status}
//status:0 标记正常 1:标记异常
//删除评论：要求删除后消失
//接口:comment/edit  参数：{oper:del,id:id}
function check(id,status){
	$.post(ctrlUrl, {id: id, oper: 'edit',status:status}, function (data) {
        if (data.status == 0) {
        	$.messager.alert('标记数据','标记失败！！','error');
            $('#grid').datagrid('reload');
            return;
        }
        $('#grid').datagrid('reload'); //刷新列表
    }, 'json');
}
function del(id) {
    $.messager.confirm('刪除评论', '你確定要刪除該信息嗎?', function (r) {
        if (r) {
            $.post(ctrlUrl, {id: id, oper: 'del'}, function (data) {
                if (data.status == 0) {
                	$.messager.alert('删除数据','删除失败！！','error');
                    $('#grid').datagrid('reload');
                    return;
                }
                //alert('操作成功');
                $('#grid').datagrid('reload'); //刷新列表
            }, 'json')
        }
    });
}
/* 
function submitForm() {
    $('#ff').form('submit', {
        url: ctrlUrl,
        onSubmit: function (param) {
            if (selectRow != null) {
                param.catid = selectRow.catid;
                param.oper = 'edit';
            } else {
                param.oper = 'add';
            }	
            return $(this).form('enableValidation').form('validate');
        },
        success: function (data) {
            if (data.status == 0) {
            	$.messager.alert('修改数据','修改失败！！','error');
                return;
            }
            //$.messager.alert('修改数据','修改成功！！','info');
            $('#window').window('close');
            $('#grid').datagrid('reload');
            clearForm();
        }
    });
} */
function clearForm() {
    $('#ff').form('clear');
}
</script>
</body>
</html>